@charset "utf-8";
/* CSS Document */
*{margin: auto;}
.khung{
	width: 960px;
	height: 150px;
}
.tren{
	background: url("../img/ảnh.jpg");
	background-size: 960px 100px;
	width: 960px;
	height: 100px;
}
.menu a{
	padding-left: 15px;
	text-decoration: none;
	color: black;
	font-family: Arial;
	font-size: 13px;
}
.nn a{
	float: right;
	padding-right:50px;
	color: grey;
	font-family: Arial;
	font-size: 10px;
}